.inicio{
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-end;
          
}
.parrafoinicio{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 250px;
    width: 250px;
    margin-top: 250px;
    margin-left: 300p;
}